* {
    box-sizing: border-box;
    font-family: 'Shojumaru', cursive;
}

#image {
    display: relative;
    margin: auto;
    height: 500px;
}

h1 {
    position: relative;
    left: 150px;
}

.start-button {
    position: absolute;
    font-size: 40px;
    top: 290px;
    left: 230px;
    height: 6%;
    width: 30%;
    
}

.score-button {
    position: absolute;
    top: 400px;
    left: 360px;
    height: 5%;
    width: 10%;
}


.btn:hover {
    cursor: pointer;
}

.question {
    position: absolute;
    top: 150px;
    left: 340px;
    width: 100%;
}