* {
    box-sizing: border-box;
    font-family: 'Shojumaru', cursive;
}

#image {
    display: block;

}

h1 {
    font-size: 2em;
    text-align: center
}

h3 {
    text-align: center;
    font-size: 2em;
}

h4 {
    text-align: center;
}

/* {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}*/